// Place all the styles related to the agreement controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.mycomment{
  padding: 20px 10px;
  max-width: 370px;
  margin: 15px;
  text-align: right;
  font-size: 14px;
  background: #EEEEEE;
}

.chatting{
  padding: 20px 10px;
  max-width: 370px;
  margin: 15px;
  text-align: left;
  font-size: 14px;
  background: #EEEEEE;
}
